:root {
  /* game board should always be exactly sized to 8 x 8 of the game squares */
  --game-board-size: 80vw; /* 800px */
  --game-board-max: 80vh;
}

html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
/* #page-content {
  flex-grow: 2;
} */

.chess-grid {
  display: grid;
  max-height: var(--game-board-max);
  max-width: var(--game-board-max);
  height: var(--game-board-size);
  width: var(--game-board-size);
  grid-template-columns: auto-fit; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 8 x 8 grid */
}

.game-square {
  border-style: solid;
  border-width: 1px;
}

